#ProductInfoForm {
    text-align: center;
}

#ProductInfoForm #imgContainer {
    /* width: 400px;
    height: 300px; */
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border: 2px dotted gainsboro;
}

#ProductInfoForm #imgContainer h3 {
    /* margin: 140px 0; */
    margin: 20% 0;
    color: rgb(161, 161, 161);
}

#ProductInfoForm #imgContainer img {
    height: 100%;
}

#ProductInfoForm .input {
    width: 50%;
}