

.splashCards{
    align-content: center;
    /* to bring the cards next to each other */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
}

#salesCard , #serviceCard{
    /* background-color: darkgrey; */
    background-color: #9a8c98;
    height: 300px;
    text-align: center;
    align-content: center;

}

.refrigerator1{
    height: 400px;
    width: 500px;
}